<!-- Progress Bar -->
<mat-progress-bar *ngIf="valueProgress < 100" mode="indeterminate" [value]="valueProgress"></mat-progress-bar>

<div id="services" class="services">
    <span class="header">Todos os Serviços</span>
    <mat-form-field appearance="outline" class="search">
        <mat-label>
            <mat-icon>search</mat-icon>
        </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Pesquise" #input id="search">
    </mat-form-field>

    <!-- Progress Bar -->

    <table mat-table multiTemplateDataRows>

        <!-- ImageTitle Column -->
        <ng-container matColumnDef="imageTitle">
            <th mat-header-cell *matHeaderCellDef> Imagem Capa </th>
            <td mat-cell *matCellDef="let element"> <img [src]="element.imageTitle" class="capa">
            </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell [id]="element.id" *matCellDef="let element">
                <div class="titleColumn">
                    <span class="category">
                        {{element.categories | uppercase}}
                    </span>
                    <span class="title">
                        {{element.title | uppercase}}
                    </span>
                    <span class="subtitle">
                        {{element.subtitle}}
                    </span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="cardDetailHidden" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="cardDetailExpanded">

                        <!-- Content Field -->
                        <div *ngIf="element.content" class="content" [innerHtml]='element.content'></div>

                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element" class="cardDetailHiddenRow">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="cardDetailRow"></tr>

    </table>

    <mat-paginator class="paginator" pageSize=100></mat-paginator>

</div>