/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body { margin: 0; font-family: Roboto_Mono; font-display: block; }


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(44, 55, 66); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(55, 66, 77);
    background-color: rgba(58, 244, 157, 0.75);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(58, 244, 158);
  }
