<div id="usersAdminDelete">
  <app-admin></app-admin>

  <div class="usersAdminDelete">
    <mat-card class="card">

      <!-- Title Card Form -->
      <mat-card-subtitle>Excluir Usuário</mat-card-subtitle>

      <!-- Buttons Header -->
      <div class="cardBtnHeader">
        <button mat-raised-button (click)="cancel()">Cancelar</button>
        <button mat-raised-button color="warn" (click)="delete(storeData.id)">Excluir</button>
      </div>
      <form class="cardForm">

        <!-- Photo Field -->
        <div id="createPhotoFinal">
          <img id="createFormImageID" class="createFormImageFinal" [src]="photoBase64"> <br />
        </div>


        <!-- Username Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Username</mat-label>
          <input matInput readonly="readonly" #input1 maxlength="20" placeholder="Nome de Usuário" id="username" name="username"
            [(ngModel)]="storeData.username" >
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint align="end">{{input1.value?.length || 0}}/20</mat-hint>
        </mat-form-field>

        <!-- Full Name Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Nome Completo</mat-label>
          <input matInput readonly="readonly" #input2 maxlength="20" placeholder="Nome Completo" id="fname" name="fname"
            [(ngModel)]="storeData.fname" >
          <mat-hint align="end">{{input2.value?.length || 0}}/20</mat-hint>
        </mat-form-field>

        <!-- E-mail Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>E-mail</mat-label>
          <input matInput readonly="readonly" #input3 maxlength="40" placeholder="nome@email.com" id="email" name="email"
            [(ngModel)]="storeData.email" >
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint align="end">{{input3.value?.length || 0}}/40</mat-hint>
        </mat-form-field>

        <!-- Phone Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Telefone</mat-label>
          <input matInput readonly="readonly" #input5 maxlength="40" placeholder="+55 (99) 9999-9999" id="phone" name="phone"
            [(ngModel)]="storeData.phone" >
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint align="end">{{input5.value?.length || 0}}/40</mat-hint>
        </mat-form-field>

        <!-- Profession Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Profissão</mat-label>
          <input matInput readonly="readonly" #input6 maxlength="40" placeholder="Profissão ou Ofício" id="profession"
            name="profession" [(ngModel)]="storeData.profession" >
          <mat-hint align="end">{{input6.value?.length || 0}}/40</mat-hint>
        </mat-form-field>

        <!-- Country Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>País</mat-label>
          <input matInput readonly="readonly" #input7 maxlength="40" placeholder="Informe o seu país" id="country" name="country"
            [(ngModel)]="storeData.country" >
          <mat-hint align="end">{{input7.value?.length || 0}}/40</mat-hint>
        </mat-form-field>

        <!-- State Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Estado</mat-label>
          <input matInput readonly="readonly" #input8 maxlength="40" placeholder="Estado" id="state" name="state"
            [(ngModel)]="storeData.state" >
          <mat-hint align="end">{{input8.value?.length || 0}}/40</mat-hint>
        </mat-form-field>

        <!-- City Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Cidade</mat-label>
          <input matInput readonly="readonly" #input9 maxlength="40" placeholder="Cidade" id="city" name="city"
            [(ngModel)]="storeData.city" >
          <mat-hint align="end">{{input9.value?.length || 0}}/40</mat-hint>
        </mat-form-field>

        <!-- Permission Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Permissão</mat-label>
          <input matInput readonly="readonly" #input10 placeholder="" id="permission" name="permission"
            [(ngModel)]="storeData.permission" >
        </mat-form-field>

        <!-- Status Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Status</mat-label>
          <input matInput readonly="readonly" #input11 placeholder="" id="status" name="status" [(ngModel)]="storeData.status"
            >
        </mat-form-field>

        <div class="infoCreate">
          <!-- createdBy Field -->
          <mat-form-field appearance="legacy" hintLabel="">
            <mat-label>Criado Por</mat-label>
            <input matInput readonly="readonly" placeholder="Criado Por" id="createdBy" name="createdBy"
              [(ngModel)]="storeData.createdBy" >
          </mat-form-field>

          <!-- createdIn Field -->
          <mat-form-field appearance="legacy" hintLabel="">
            <mat-label>Criado Em</mat-label>
            <input matInput disabled placeholder="Criado em" id="createdIn" name="createdIn"
              [(ngModel)]="storeData.createdIn" >
          </mat-form-field>

          <!-- modifiedBy Field -->
          <mat-form-field appearance="legacy" hintLabel="">
            <mat-label>Modificado Por</mat-label>
            <input matInput readonly="readonly" placeholder="Modificado Por" id="modifiedBy" name="modifiedBy"
              [(ngModel)]="storeData.modifiedBy" >
          </mat-form-field>

          <!-- modifiedIn Field -->
          <mat-form-field appearance="legacy" hintLabel="">
            <mat-label>Modificado Em</mat-label>
            <input matInput readonly="readonly" placeholder="Modificado em" id="modifiedIn" name="modifiedIn"
              [(ngModel)]="storeData.modifiedIn" >
          </mat-form-field>
        </div>

        <!-- Buttons Footer -->
        <div class="cardBtnFooter">
          <button mat-raised-button (click)="cancel()">Cancelar</button>
          <button mat-raised-button color="warn" (click)="delete(storeData.id)">Excluir</button>
        </div>
      </form>
    </mat-card>
  </div>



</div>