<div id="projectAdminCreate">
  <app-admin></app-admin>

  <div class="projectAdminCreate">
    <mat-card class="card">

      <!-- Title Card Form -->
      <mat-card-subtitle>Criar Post Projetos</mat-card-subtitle>

      <!-- Buttons Header -->
      <div class="cardBtnHeader">
        <button mat-raised-button (click)="cancel()">Cancelar</button>
        <button mat-raised-button class="primaryBtnBlue" (click)="saveDraft()">Salvar Rascunho</button>
        <button mat-raised-button class="primaryBtnGreen" (click)="post()">Postar</button>
      </div>
      <form class="cardForm">

        <!-- Image Capa Field -->
        <mat-label>Capa</mat-label>
        <mat-card id="createPhotoChange" class="fadeIn">
          <div class="createPhotoChangeBox">
            <h4 class="createFormImageRaw">Original</h4>
            <!-- <h4>Preview</h4> -->
          </div>
          <div class="createPhotoChangeBox">
            <image-cropper class="createFormImageRaw" [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true" [aspectRatio]="13 / 6" [resizeToWidth]="600" format="png"
              (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"></image-cropper>

            <!-- <img class="createFormImageWaited" [src]="croppedImage" /> -->
          </div>
          <div class="createFormImageBtn">
            <button mat-stroked-button color="primary" (click)="saveImageCroppie()">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-stroked-button color="warn" (click)="cancelImageCroppie()">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </mat-card>
        <div id="createPhotoFinal" class="fadeIn">
          <img id="createFormImageID" class="createFormImageFinal" [src]="photoBase64"> <br />
          <input id="createFormImageINPUT" type="file" (change)="fileChangeEvent($event)" />
        </div>

        <!-- Title Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Título</mat-label>
          <textarea matInput #input1 maxlength="200" placeholder="Digite o título aqui" id="title" name="title"
            [(ngModel)]="storeData.title"></textarea>
          <mat-hint align="end">{{input1.value?.length || 0}}/200</mat-hint>
        </mat-form-field>

        <!-- Subtitle Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Subtitulo</mat-label>
          <textarea matInput #input2 maxlength="400" placeholder="Digite o Subtítulo aqui" id="subtitle" name="subtitle"
            [(ngModel)]="storeData.subtitle"></textarea>
          <mat-hint align="end">{{input2.value?.length || 0}}/400</mat-hint>
        </mat-form-field>

        <!-- Categories Field -->
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Categoria</mat-label>
          <mat-select placeholder="Informe a categoria" id="categories" name="categories"
            [(ngModel)]="storeData.categories">
            <mat-option value="Ambiental">Ambiental</mat-option>
            <mat-option value="Consultoria Técnica">Consultoria Técnica</mat-option>
            <mat-option value="Controle de Pragas">Controle de Pragas</mat-option>
            <mat-option value="Engenharia">Engenharia</mat-option>
            <mat-option value="Facilities Services" selected>Facilities Services</mat-option>
            <mat-option value="Limpeza e Conservação">Limpeza e Conservação</mat-option>
            <mat-option value="Manutenção">Manutenção</mat-option>
            <mat-option value="Segurança">Segurança</mat-option>
            <mat-option value="Serviços de Apoio">Serviços de Apoio</mat-option>
      </mat-select>
          <mat-hint align="end">Selecione uma Opção ^</mat-hint>
        </mat-form-field>

        <mat-list>
          <mat-divider></mat-divider>
        </mat-list>

        <!-- Content Field -->
        <br>
        <mat-label>Descrição</mat-label>
        <angular-editor id="content" [(ngModel)]="storeData.content" [config]="editorConfig"
          [ngModelOptions]="{standalone: true}"></angular-editor>

        <mat-list>
          <mat-divider></mat-divider>
        </mat-list>

        <!-- Status Field -->
        <br>
        <mat-form-field appearance="outline" hintLabel="">
          <mat-label>Status</mat-label>
          <mat-select disabled placeholder="Status Inicial" id="status" name="status" [(ngModel)]="storeData.status">
            <mat-option value="Ativo">Ativo</mat-option>
          </mat-select>
          <mat-hint align="end">Selecione uma Opção ^</mat-hint>
        </mat-form-field>

        <!-- Buttons Footer -->
        <div class="cardBtnFooter">
          <button mat-raised-button (click)="cancel()">Cancelar</button>
          <button mat-raised-button class="primaryBtnBlue" (click)="saveDraft()">Salvar Rascunho</button>
          <button mat-raised-button class="primaryBtnGreen" (click)="post()">Postar</button>
        </div>
      </form>
    </mat-card>
  </div>

</div>