<div id="blogRead" class="blogRead">

  <div class="btnBox">
    <button class="buttonBack" mat-mini-fab (click)="cancel()" matTooltip="Voltar">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button class="buttonShare" mat-mini-fab (click)="share()" matTooltip="Compartilhar">
      <mat-icon>share</mat-icon>
    </button>
  </div>

  <div class="showBlogPost">
    <!-- Title Card Form -->
    <mat-card-subtitle>Post nº {{storeData.id}}</mat-card-subtitle>

    <!-- Title Field -->
    <div class="title">
      {{storeData.title}}
    </div>

    <!-- Image Field -->
    <div>
      <img class="capa" [src]="photoBase64"> <br />
    </div>

    <!-- Subtitle Field -->
    <div class="subtitle">
      {{storeData.subtitle}}
    </div>

    <!-- Paragraf1 Field -->

    <div class="paragraf" *ngIf="storeData.paragraf1" [innerHtml]='storeData.paragraf1'></div>

    <!-- Paragraf2 Field -->

    <div class="paragraf" *ngIf="storeData.paragraf2" [innerHtml]='storeData.paragraf2'></div>

    <!-- Paragraf3 Field -->

    <div class="paragraf" *ngIf="storeData.paragraf3" [innerHtml]='storeData.paragraf3'></div>

    <!-- Paragraf4 Field -->

    <div class="paragraf" *ngIf="storeData.paragraf4" [innerHtml]='storeData.paragraf4'></div>

    <!-- Paragraf5 Field -->

    <div class="paragraf" *ngIf="storeData.paragraf5" [innerHtml]='storeData.paragraf5'></div>

    <mat-list>
      <mat-divider></mat-divider>
    </mat-list>

    <!-- authorship Field -->

    <div class="authorship">
      <img class="imgAuthor" [src]="authorData.photo" alt="">
      <div class="dateAndBy">
        <span>Por {{storeData.author}}</span>
        <span>Em {{storeData.date}}</span>
      </div>
      <div class="category">
        {{storeData.categories | uppercase}}
      </div>
    </div>

  </div>
</div>