#ourservicesAdmin {
    display: none;
}
.ourservicesAdmin {
    margin: 16px;
}
/* Buttons Header */
.buttonsHeader {
    display: flex;
    justify-content: space-between;
}
.seacrhInput {
    width: 300px;
}

/* Estilo da Planilha */
table {
    width: 100%;
}
.columnImage {
    margin: 5px 5px 0 0 ;
    height: 40px;
    border-radius: 1px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    /* background-color: rgb(29, 165, 79); */
}
.primaryGreen {
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 120, 215);
}
.primaryGreen:hover {
    color: rgb(1, 229, 137);
}
.primaryBtnGreen {
    background-color: rgb(1, 229, 137);
}

.mobile-label {
    display: none;
  }
  
/* Visualização Desktop */
@media(min-width: 650.5px) {
    
}

/* Visualização Mobile */
@media(max-width: 650px) {
    .ourservicesAdmin {
        margin: 5px;
    }
    .mobile-label {
        width: 80px;
        display: inline-block;
        margin-right: 10px;
        font-weight: bold;
    }
    .mat-header-row {
        display: none;
    }
    .mat-row  {
        display: flex; 
        flex-direction: column;
        /* align-items: start; */
        height: auto;
        padding: 8px 0;
    }
    .mat-cell:first-of-type {
        padding: 0;
    }
    .mat-cell {
        width: 100%;
    }
    .seacrhInput {
        width: 80%;
    }
    
  
}